.Content {
    width: 580px;
    height: 410px;
    gap: 20px;
}

.Info {
    display: flex;
    margin-top: 50px;
}

.Sub {
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 9.5%;
    text-transform: uppercase;
    color: Blue;
}

.Title {
    height: 216px;
    width: 580px;
}

.Heading {
    font-weight: 600;
    font-style: Bold;
    font-size: 48px;
    color: darkblue;
}

.Text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-top: 50px;
    color: grey;
}

.btn {
    width: 232px;
    height: 54px;
    border-radius: 8px;
    padding: 18px 54px;
    gap: 10px;
    border: none;
    background-color: #EC4621;
    margin-top: 30px;

}

.SubHeading {
    font-weight: 500;
    font-size: medium;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    letter-spacing: 7%;
}

.ReplaceThis {
    width: 506px;
    height: 450px;
    border-radius: 12px;
    background-color: #121D50;
    margin-left: 50px;
}

.FunFact {
    width: 172px;
    height: 187px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-left: 60px;
    margin-top: 200px;
}

.AnchorIcon {
    color: black;
    background-color: #EC4621;
    margin-top: -30px;
    padding: 20px;
    border-radius: 50px;
    margin-left: 10px;
}

.Heading2 {
    font-weight: 700;
    font-size: Bold;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 20px;
    color: darkblue;
}

.TextBox {
    width: 155px;
    height: 60px;
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
}

.BtnText {
    font-weight: 500;
    font-size: Medium;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
}

.Cards {
    width: 1141px;
    height: 160px;
    gap: 20px;
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
}

.Card {
    width: 367px;
    height: 160px;
    border-radius: 12px;
    border-bottom: 12px;
    background-color: #090E23;
    color: white;
}

.Wrapper {
    padding: 0 80px;
}

.Num {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 130%;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 100px;
}

.card {
    background: #07122c;
    color: white;
    width: 320px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* number */
.number {
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
}

/* line */
.line {
    width: 2px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
}

/* text */
.text {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
}